<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>投稿画面</title>
    <link rel="stylesheet" href="/assets/stylesheets/normalize.scss">
    <link rel="stylesheet" href="/assets/stylesheets/_form.css">
  </head>
  <body>
    <%= form_with(model: blog, local: true, url: choose_new_or_edit) do |form| %>
      <% if blog.errors.any? %>
        <div id="error_explanation">
          <h2><%= user.errors.count %>　件のエラーが発生しました。</h2>
          <ul>
          <% blog.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>

      <div class="field">
        <%= form.label :content %>
        <%= form.text_area :content %>
      </div>

      <div class="field">
        <%= form.label :image %>
        <%= form.file_field :image %>
        <%= form.hidden_field :image_cache %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </body>
</html>
