<%= form_with(model: @blog, local: true) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>Are you sure to create blog with the following contents?</p>
  <div class="">
    <%= form.hidden_field :title %>
    <%= form.hidden_field :content %>
    <%= form.hidden_field :image %>
    <%= form.hidden_field :image_cache %>
    <p>title: </p><%= @blog.title %><br>
    <p>content: </p><%= @blog.content %><br>
    <p><strong>image: </strong>
    <%= image_tag @blog.image.url %></p><br>
  <%# <%= image_tag @blog.image.url if      ? %> %>
    <%= form.submit %>
    <%= form.submit 'back', name: 'back' %>
  </div>
<% end %>
