<h3>この内容で登録しますか？</h3>
<%= form_with(model: @blog, local: true, url: blogs_path) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image %>
  <%= form.hidden_field :image_cache %>
  <div class="field">
    <strong>タイトル:</strong>
    <%= @blog.title %><br>
  </div>
  <div class="field">
    <strong>内容:</strong>
    <%= @blog.content %>
  </div>
  <div class="field">
    <strong>写真: </strong>
      <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
  </div>
  <div class="actions">
    <%= form.submit %>
    <%= form.submit '戻る', name: 'back' %>
  </div>
<% end %>
