<div class="content_blogs">
  <strong>タイトル:</strong>
  <%= @blog.title %>
</div>
<div class="content_blogs">
  <strong>内容:</strong>
  <%= @blog.content %>
</div>
<div class="content_blogs">
  <strong>写真:</strong>
    <%= image_tag @blog.image.url if @blog.image && @blog.image.url %>
</div>
<div class="links">
  <%= link_to '編集', edit_blog_path(@blog) %> |
  <%= link_to '戻る', blogs_path %>
</div>
