<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>詳細画面</title>
    <link rel="stylesheet" href="/assets/stylesheets/normalize.scss">
    <link rel="stylesheet" href="/assets/stylesheets/blogs.scss">
  </head>
  <body>
    <div class="content_blogs">
      <strong>タイトル:</strong>
      <%= @blog.title %>
    </div>
    <div class="content_blogs">
      <strong>内容:</strong>
      <%= @blog.content %>
    </div>
    <div class="content_blogs">
      <strong>写真:</strong>
        <%= image_tag @blog.image.url if @blog.image && @blog.image.url %>
    </div>
    <%= link_to '編集', edit_blog_path(@blog) %> |
    <%= link_to '戻る', blogs_path %>
  </body>
</html>
