<!DOCTYPE html>
<html>
  <head>
    <title>PhotoBlogsSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <ul>
        <%= link_to 'PhotoBlogsSample', root_path, class:'left' %>
        <nav>
          <ul class="clearfix">
            <% if logged_in? %>
              <%= link_to 'ログアウト', session_path(current_user.id), method: :delete, class:'right' %>
              <%= link_to '投稿', new_blog_path, class:'right' %>
              <%= link_to '一覧', blogs_path, class:'right' %>
            <% else %>
              <%= link_to 'ログイン', new_session_path, class:'right' %>
              <%= link_to '新規登録', new_user_path, class:'right' %>
            <% end %>
          </ul>
        </nav>
      </ul>
    </header>
      <% flash.each do |key,value| %>
          <%= content_tag(:div, value, class: "#{key}") %><br>
      <% end %>
    <%= yield %>
    <footer>
     <p>© 2015-2016 PhotoBlogsSample Corp.</p>
    </footer>
  </body>
</html>
